<header>
    <div class="header">
        <app-header></app-header>
    </div>
</header>

<div class="sidenav" id="social-media">
    <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline">
        <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li><br>
        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-square"></i></a></li><br>
        <li><a href="https://twitter.com/"><i class="fa fa-twitter-square"></i></a></li><br>
        <li><a href="https://linkedin.com/"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
</div>

<app-likes></app-likes>

  <body>
    <router-outlet></router-outlet>
  </body>

  <footer class="text-muted">
      <div class="container">
          <app-subscribe-form></app-subscribe-form>
      </div>
  </footer>
