<div class="page-container">
    <h1>Minimalism</h1>
    <h5>Pair down || Free up</h5><br>

        <app-posts></app-posts>
        <br> 
        <br>
        <app-comments></app-comments>

<!-- <div class="list-group">

  <a *ngFor="let post of posts" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{post.title}}</h5>
          <img src="{{ post.image }}" />
      </div>
      <p class="mb-1">{{post.description}}</p>
  </a>

</div> -->
<div>
<h3>Owning Less, Gaining Clarity </h3><br>

<div>
<img src="../../../assets/img/minimalism1.jpg">
<p>
        Sometimes owning more is not the best situation to be in. When you clear the out the space that you spend to the most time in, your home, car, office, etc. you find that you do not just have more physical space but mental as well. 

        The things around you, if not sparking joy as Marie Kondo would say can intrude your head space without you consciously knowing. When we take our priority off of things that money can buy we can then clear our minds to think of the pieces of our lives that truly matter. What can you clear from your physical life to gain clarity in your mental health? 
        
</p><br>
</div>
