<div class="PostForm">
 
  <form>
      
      <div class="form-group">
          <label>Title</label>
          <input required  name="title" [(ngModel)]="post.title"  #title="ngModel" (change)="log(title)" id="title" type="text" class="form-control" placeholder="Enter title">
        <div class="alert alert-danger" *ngIf="title.touched && !title.valid">Title is required.</div>
        </div>
      
      <input type="file" (change) ="onFileSelected($event)">

      <div class="form-group">
          <label>Post Topic</label>
          <form>
            <select id="TopicList" onchange="topics()">
                <option>Minimalism</option>
                <option>Travel Hacks</option>
            </select>
          </form>
      </div>
      <div class="form-group">
          <label>Description</label>
          <textarea  name="description" required [(ngModel)]="post.description" #description="ngModel" (change)="log(description)" id="description" class="form-control" placeholder="Type Text Here"></textarea>
          <div class="alert alert-danger" *ngIf="description.touched && !description.valid">Description is required.</div>
        </div>
        
      <button (click)="addPost()" type="button" class="btn btn-primary">Post</button>
       
  </form>


</div>