#close-btn{
  float: right;
}

form {
  width: 600px;
  margin: auto;
  position: relative;
}

.button {
  background-color: 	#282828;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}


