<div class="PostForm">
 
  <form>
      <div class="form-group">
          <label>Title</label>
          <input name="title" type="text" class="form-control" placeholder="Enter title">
      </div>
      
      <input type="file" (change) ="onFileSelected($event)">

      <div class="form-group">
          <label>Post Topic</label>
          <form>
            <select id="TopicList" onchange="BlogTopics()">
                <option>Minimalism</option>
                <option>Travel Hacks</option>
            </select>
          </form>
      </div>
      <div class="form-group">
          <label>Description</label>
          <textarea name="description" class="form-control" placeholder="Type Text Here"></textarea>
      </div>

      
      <button type="button" class="btn btn-primary" (click)="onUpload()"> Post</button>
      
  </form>


</div>