
<h1>Welcome to Gablynn's Bits & Bobs</h1>
<h5>Simple Life Hacks Just A Click Away</h5><br>

<div class="clearfix">
       <div class="box">      
         <a href="travelhacks">
            <img src="../../../assets/img/home_travelhacks.png" alt="home_minimalism" style="width:500px;height:300px;border:0;">
         </a>  
        <br>
        <br>
            <h3>Chasing slow.</h3>
            <p>“Without grace, minimalism is another metric for perfection.” — Erin Loechner
            I just finished reading Erin’s new book, Chasing Slow, and it was one of the best decisions I have made this year—without question. I felt affirmed and encouraged by her words in practically every chapter..
             </p>
         </div>
         <br>
        <div class="box">
            <a href="minimalism">
              <img src="../../../assets/img/home_minimalism.png" alt="home_minimalism" style="width:500px;height:300px;border:0;">
             </a>  
                   
            <h3>Design a simple life.</h3>
            <p>“The first step in crafting a life you want is to get rid of everything you don’t.” — Joshua Becker
            Every day, more stuff comes into our lives: stuff in our houses, stuff on our calendars, stuff on our minds. All that stuff gets in the way of where we really want to go and who we really want to be ... it’s time to make a change.
            </p>
        </div> 
        <br>
        <div class="center">
            <a href="subscribe-form">
             <img class="sub_button" src="../../../assets/img/sub_button.png" alt="sub_button" style="width:auto;height:75px;border:0;">
            </a>  
        </div>
         <br>
</div>
