<button type="button" class="btn btn-primary" (click)="unhide()">Comment Here</button>

<div *ngIf="notHidden" class="comment-form">
  <form>
      <button id="close-btn" type="button" class="btn btn-default btn-sm" (click)="hide()">X</button><br>
      <div class="form-group">
          <label>Comment</label>
          <textarea name="description" class="form-control" placeholder="Type Text Here"></textarea>
      </div>

      <button type="button" class="btn btn-success">Comment</button>

    </form>
  </div><br>
