<h2>Stay In The Loop</h2>
<h6>Sign Up For Updates</h6>

<div class="container">
  <div class="row">
    <label class="col-md-2 control-label">First Name</label>
    <div class="col-md-6 form-group">
      <input class="form-control" placeholder=" First Name" [(ngModel)]="currentSubscribe.FirstName">
    </div>
  </div>

  <div class="row">
    <label class="col-md-2 control-label">Last Name</label>
    <div class="col-md-6 form-group">
      <input class="form-control" placeholder="Last Name" [(ngModel)]="currentSubscribe.LastName">
    </div>
  </div>

  <div class="row">
    <label class="col-md-2 control-label">Email</label>
    <div class="col-md-6 form-group">
      <input class="form-control" placeholder="Email" [(ngModel)]="currentSubscribe.Email">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <button class="btn btn-primary" (click)= "addSubscribe()" > Subscribe</button>
    </div>
  </div>
</div>
